.main-data-container {
    background: $color-light-grey;
    border-radius: 0.12rem;
    padding: 2.5% 5%;
    box-shadow: $large-shadow;
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}


.data-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    gap: 1rem;
    
    @media (max-width: 1440px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 864px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 630px) {
        grid-template-columns: 1fr;
    }
}

.data-item {
    border: 2px solid $color-dark-grey;
    padding: 2% 4%;
    border-radius: 0.12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; //Aligns the item titles. I also would like the buttons aligned at the bottom but I've just realised I've never figured out how to do it. I'll ask on discord next week.
    gap: 10px;

    button {
        padding: 5px;
        background: $color-light-grey;
        border: 2px solid $color-light-green;
    }
    
}