.data-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    gap: 1rem;
    
    @media (max-width: 864px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 630px) {
        grid-template-columns: 1fr;
    }
}

.data-item {
    border: 2px solid $color-dark-grey;
    padding: 2% 4%;
    border-radius: 0.12rem;
    box-shadow: $small-shadow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    button {
        padding: 5px;
        background: $color-light-grey;
        border: 2px solid $color-light-green;
    }
    
}