@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka:wght@300;400;500;600&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/*
* Font variables
*/

$font-brand: "Dancing Script", cursive; 
$font-heading: "Fredoka", sans-serif;
$font-body: "Open Sans", sans-serif;

/*
* typography rules
*/

body {
    font-family: $font-body;
}

.nav-logo {
    font-family: $font-brand;
    font-weight: 700;
    font-size: 2rem;
    color: $color-bright-orange;
}


.nav-link {
    font-family: $font-heading;
    font-size: 1.2rem;
    text-decoration: none;
    
    .active {
        color: $color-light-blue;
    }
}

.item-title {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 1.5rem;
}

.item-author {
    font-family: $font-heading;
    font-weight: 300;
}