/*
* Colour variables
*/

//Color scheme

$color-light-grey: #f6faf7;
$color-dark-grey: #3b3b3b;

$color-light-blue: #2D93AD;
$color-medium-orange: #D26637;
$color-light-green: #52FFB8;

$color-dark-shadow: #0c0c0c;


//Other

$large-shadow: 2px 5px 5px $color-dark-shadow;
$small-shadow: 2px 2px 2px $color-dark-grey;


