.data-list {
    display: flex;
    flex: row wrap;
    max-width: 100%;
    gap: 1rem;
    
}

.data-item {
    border: 1px solid $color-dark-grey;
    padding: 2% 4%;
    border-radius: 0.12rem;
    box-shadow: $small-shadow;
}